@font-face{
    font-family: 'Clemente';
    src: url('../../fonts/Clemente.ttf') format('truetype');
}

@font-face{
    font-family: 'Olive';
    src: url('../../fonts/AntiqueOliveRegular.ttf') format('truetype');
}

@font-face{
    font-family: 'Chap';
    src: url('../../fonts/Chaparral.ttf') format('truetype');
}

@font-face{
    font-family: 'Aubrey';
    src: url('../../fonts/Aubrey.TTF') format('truetype');
}

@font-face{
    font-family: 'Neoteric';
    src: url('../../fonts/Neoteric.ttf') format('truetype');
}


.header-container{
    
    
    /* border: 20px solid #00d4c7; */
    color: black;
    width: 100%;
}

#header-headline{
    
}

.header-left-col{
    /* background-color: rgba(0, 0, 0, .1); */
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 30px auto;
    /* margin-left: 10px; */
    font-family: Chap;
    font-size: 20px;
}

.header-image-div{
    /* padding: 20px; */
    margin: auto;
    
}

#header-image{
    border: 1px solid black;
    width: 100%;
    height: auto;
}

.header-p{
    margin-bottom: 10px;
}

.createAcct{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid #00c0bd;
    background: #00c0bd;
    font-size: 16px;
    font-weight: bold;
    font-family: Neoteric;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: .5s;

}

@media only screen and (max-width: 768px){

    .header-left-col{
        text-align: center;
    }

    

}