@font-face{
    font-family: 'Olive';
    src: url('../../fonts/AntiqueOliveRegular.ttf') format('truetype');
}

@font-face{
    font-family: 'Chap';
    src: url('../../fonts/Chaparral.ttf') format('truetype');
}

.header-container{
    
    
    /* border: 20px solid #00d4c7; */
    color: black;
    width: 100%;
}

#header-headline{
    font-family: Olive;
}

.header-left-col{
    /* background-color: rgba(0, 0, 0, .1); */
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 30px auto;
    /* margin-left: 10px; */
    font-family: Chap;
    font-size: 20px;
}

.header-image-div{
    /* padding: 20px; */
    margin: auto;
    
}

#header-image{
    border: 1px solid black;
    width: 100%;
    height: auto;
}

.createAcct{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid #00d4c7;
    background: #00d4c7;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

.createAcct:hover{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid #00d4c7;
    background: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: #00d4c7;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}