.sign-in-up-row{
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sign-in-up-col{
    padding: 30;
    margin: auto;
    max-height: 800px;
}

.sign-in-up-div{
    max-width: 400px;
    /* padding: 20px;
    margin-top: 20%;
    margin-bottom: 20%; */
    background-color: inherit;
    /* max-width: 400px; */
    padding: 20px;
    margin: auto;
    
    /* margin: 30px auto; */
}

.sign-in-up-header{
    text-align: center;
}

.success-msg{
    text-align: center;
    color: red;
}

.sign-in-up-btn{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid #00c0bd;
    background: #00c0bd;
    font-size: 16px;
    font-weight: bold;
    font-family: Neoteric;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: .5s;
}


#already, #create-link{
    color: black;
    text-decoration: none;
}

#already:hover, #create-link:hover{
    color: black;
    text-decoration: none;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    

    .sign-in-up-color-blck{
        background-color: aliceblue;
        height: 800px;
        max-height: 800px;
    }
}