.container-fluid{
    background-color: #fafafa;
}

#reminder, #save{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    height: auto;
}

.home-page-row{
    background-color: #fafafa;
    padding: 50px;
    margin: auto;
}

.home-how-it-works-title{
    text-align: center;
}

.step-img{
    max-height: 242px;;
    width: auto;
}

#heart-pin{
    max-height: 242px;
    width: auto;
}

.how-it-works-step{
    text-align: center;
}

.hesitate{
    text-align: right;
}

.bagman-container{
    max-height: 400px;
}

#bagman{
    max-height: 90%;
    width: auto;
    display: block;
    margin: auto;
}

#facts-title{
    font-family: Chap;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.facts-list{
    font-family: chap;
    font-size: 22px;
    list-style-type: none;
    padding: 0 !important;
    text-align: left;
    margin: 40px;
  }
  
  .facts-list-item{
    padding: 8px;
  }

.app-purpose-div{
    text-align: center;
    color: #0097e3;
    font-family: Chap;
    display: block;
    margin: 30px auto;
}

#app-purpose{
    font-size: 40px;
}

.home-hr{
    margin: 0;
    border: 2px solid #00B771;
    width: 88%;
    display: block;
    margin: 0 auto;
}

.home-how-it-works-text{
    max-width: 65%;
    height: auto;
    margin: auto;
    align: center;
    padding: 5px;
}

.link-to-create{
    color: #0097e3;
}
.link-to-create:hover{
    color: #0097e3;
}

