.savedStoreRow{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    color: black;
    text-align: center;
}

#deleteBtn{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid #00d4c7;
    background: #00d4c7;
    font-size: 16px;
    font-weight: bold;
    font-family: Neoteric;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: .5s;
}

