.savedStoreRow{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.savedStoreInfo{
    font-size: 20px;
    color: black;
}

#deleteBtn{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid black;
    background: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

#deleteBtn:hover{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid black;
    background: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

#deleteBtn:active{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid black;
    background: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Olive;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .1s;
}

