.storeContainer{
    
}

.storeRow, .already-saved-row{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.already-saved-info, .storeInfo{
    text-align: center;
    vertical-align: middle;
    margin: auto;
    
}

.already-saved-btn{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 2px solid blue;
    background: blue;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: white;
    border-radius: 5px; 
}

#distance{
    font-size: 16px;
    margin: auto;
}

#saveBtn{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    background: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 1px 2px grey;
    transition-duration: .5s;
}

#saveBtn:hover{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    background: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

#saveBtn:active{
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    background: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Olive;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .1s;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.fa-heart{
    color: #0097e3;
}
