h2{
  
}

p{
  font-family: Chap;
  font-size: 20px;
  margin-bottom: 0;
}

/*  */
.container-fluid{
  /* padding: 5px//; */
}

i{
  /* padding-right: 5px; */
}

a{
  color: white;
  text-align: center;
  transition-duration: .5s;
}

a:hover{
  color: white;;
  text-align: center;
  text-decoration: none;
  transition-duration: .5s;
} 

h5{
  font-family: Neoteric;
}

h3{
  font-family: Neoteric;
  color: #FF5A00;
}

h2{
  padding-top: 20px; 
  font-family: Neoteric;
  text-align: center;
}

h1{
  font-family: Neoteric;
  padding: 10px;
}

form{
  font-family: Chap;
  font-size: 18px;
}