.container-fluid{
    background-color: #fafafa;
}

#reminder, #save{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    height: auto;
}

.home-page-row{
    background-color: #fafafa;
    padding: 50px;
    margin: auto;
}

.home-how-it-works-title{
    text-align: center;
}

.step-img{
    max-height: 242px;;
    width: auto;
}

#heart-pin{
    max-height: 242px;
    width: auto;
}

.how-it-works-step{
    text-align: center;
}

.hesitate{
    text-align: right;
}

.bagman-container{
    max-height: 400px;
}

#bagman{
    max-height: 90%;
    width: auto;
    display: block;
    margin: auto;
}

#facts-title{
    font-family: Chap;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.app-purpose-div{
    text-align: center;
    color: #FF5A00;
    font-family: Chap;
    display: block;
    margin: 30px auto;
}

#app-purpose{
    font-size: 40px;
}

.i1{
    color: #00B771;
}

.i4{
    color: #00d4c7;
}

.i3{
    color: #FF5A00;
}

.i2{
    color: #bfdc6e;
}

.home-hr{
    margin: 0;
    border: 2px solid #00B771;
    width: 88%;
    display: block;
    margin: 0 auto;
}

#btmCreateAcct{
    display: block;
    margin: 0 0 0 auto;
    padding: 12px 15px;
    border: 2px solid #FF5A00;;
    background: #FF5A00;;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

#btmCreateAcct:hover{
    display: block;
    margin: 0 0 0 auto;
    padding: 12px 15px;
    border: 2px solid #FF5A00;;
    background: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Olive;
    color: #FF5A00;;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}