.navbar-brand{
    font-family: Olive;
}

.navtop{
    height: 50px;
}

.nav-item {
    font-family: Chap;
}

.nav-link, .navbar-brand{
    color: black;
}

#logout{
    color: black;
    display: block;
    margin: 0 auto;
}

.navbar{
    background-color: rgb(250, 250, 250)!important;
    height: 75px;
}